<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SSO登录</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> <!--引入样式-->
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div>
    <form name="f" onsubmit="check(this)">  <!--表单区,placeholder属性规定填充内容-->
        <h1>SSO登录</h1>
        <input type="text" id="name" placeholder="账号"><br>
        <input type="password" id="pass" placeholder="密码"><br>
        <input type="button" onclick="check(this)" value="登录">
    </form>
</div>
</body>
</html>