form{
    text-align: center;
    position: absolute;   /*表单于页面居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text],input[type=password]{
    background-color: white;  /*正常状态样式*/
    color: black;
    border:none;
    border-radius: 20px;
    outline: none;
    text-align: center;
    height: 50px;
    width: 250px;
    margin: 5px;
}

input[type=button]{
    background-color: #45A0F2;  /*正常状态样式*/
    color: white;
    border:none;
    border-radius: 20px;
    outline: none;
    text-align: center;
    height: 50px;
    width: 250px;
    margin: 5px;
}

input[type=text]:hover,input[type=password]:hover{
    outline: none;  /*悬停时样式*/
    background-color: #CDC9C9;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.19);  /*阴影*/
}

input[type=button]:hover{
    outline: none;  /*悬停时样式*/
    background-color:#00BFFF;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.19);  /*阴影*/
}